<div class="header">
  <a href="/" class="header__logo">
    <img src="{{ section.settings['logo'] | img_url }}" alt="dullrazor Logo" />
    dullrazor
  </a>

  <div>
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <a href="/account">{{ 'layout.customer.account' | t }}</a>
        {{ 'layout.customer.logout' | t | customer_logout_link }}
      {% else %}
        {{ 'layout.customer.log_in' | t | customer_login_link }}
        {{ 'layout.customer.register' | t | customer_register_link }}
      {% endif %}
    {% endif %}

    <a class="header__cart" href="/cart" aria-label="Cart">
      <img src="{{ section.settings['cart'] | img_url }}" alt="Cart Icon" />
    </a>
  </div>
</div>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "image_picker",
      "id": "cart",
      "label": "Cart image"
    }
  ]
}
{% endschema %}